<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	{% load static %}<link rel="stylesheet" href="{% static 'sub.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'noscript.css' %}" /></noscript>
	<link rel="shortcut icon" href="{% static 'images/gfnk.ico' %}">
    <title>발표의 참견</title>
</head>
<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
						<a href="#work" class="icon solid fa-folder"><span>Report</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel">
								<header>
									{% block content %}
										<h3>발표 동영상 파일을 업로드해 주세요.</h3><hr>
											<form action="http://127.0.0.1:8000/upload_file/" method="POST" enctype="multipart/form-data">
												{% csrf_token %}
												<input type="file" name="file" required="required">
												<div id = "radio-div"><br>
													<h3>당신의 성별을 선택해 주세요.</h3><hr>
														<div class="btn-group" data-toggle="buttons" id="radiogroup">
															<input type="radio" name="check_option" value="0" required="required">남
															<input type="radio" name="check_option" value="1" id = "radio-woman">여
														</div><br>
													<div>
														<button type="submit">결과보기</button>
													</div>
												</div>
											</form>
									{% endblock %}
								</header>

							</article>

						<!-- Work -->
							<article id="work" class="panel">
								<header>
									<h2>Report</h2>
								</header>
								<p class="work_p">
									발표 동영상의 종합 분석 결과입니다.<hr>
								</p>
								<section>
									<h2>Pose</h2>
									<p class="work_p">
									발표 자세(pose)에 대한 분석 결과입니다.</p>
									<div class="row">
										<div class="chart-div">
											<canvas id="pieChartCanvas" width="300px" height="300px"></canvas>
<!--											<div id='legend-div' class="legend-div"></div>  # 범례-->
        								</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="{% static 'images/work/pic01.jpg' %}" alt=""></a>
										</div>
									</div>
								</section>
							</article>

						<!-- Contact -->
							<article id="contact" class="panel">
								<header>
									<h2>To. Goofanaka</h2><hr>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; GOOFANAKA .</li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			<script src="{% static 'js/script.js' %}"></script>

</body>
</html>